@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    background-color: black;
}

#container{
    max-width: 900px;
    height: auto;
    background-color: #CE00EF;
    margin: 10px auto;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    margin:auto;
}

#menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    margin: auto;
}

i#burguer {
    display: none;
    color: #000000;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    font-size: 35px;
    font-weight: bold;
}

i#burguer:hover {
    color: #4EFF00;
}

.itens {
    position: relative;
    display: flex;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    color: #4EFF00;
    text-shadow: 1px 1px 1px #000000;
    
}

.itens:after {
    content:  "";
    position: absolute;
    background-color: #4EFF00;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 2s;
}

.itens:hover:after {
    width: 100%;
    height: 3px;
}

.section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin: auto;
}

img {
    display: flex;
    width: 301px;
    height: 280px;
    border-radius: 50%;
    box-shadow: 2px 5px 5px rgb(1 1 1 / 56%);
    margin-top: 20px;
    margin-bottom: 38px;
    margin-left: 40px;
}

a {
    text-decoration: none;
    color: #000000;
    text-align: center;
}

.descricao {
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-bottom: 10px;
}

h1 {
    width: auto;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 4em;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 20px;
    text-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
}

p {
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
    width: 75%;
    text-align: justify;
    line-height: 35px;
    letter-spacing: .8px;
    align-items: center;
    justify-items: center;
    margin: auto;
}

.sobre {
    width: auto;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.projetos {
    max-width: 900px;
    height: auto;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#projetos {
    display: block;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: auto;
    justify-content: space-evenly;
    max-width: 900px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    color: black;
}

.card {
    flex: 1 1 250px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
}

h2 {
    background-color: #000000;
    font-family: sans-serif;
    padding: 10px;
    color: #4EFF00;
    background-color: #000000;
    border-radius: 10px 10px 0 0;
}

#card-1 {
    background-image: url('imagens/parede.jpg');
    background-position: center center;
    background-size: cover;
    width: 300px;
    height: 400px;
    margin: auto;
    cursor: pointer;
    transition: .3s;
}

#card-1:hover {
    transform: scale(1.02);
}

#card-2 {
    background-image: url('imagens/login.jpeg');
    background-position: center center;
    background-size: cover;
    width: 300px;
    height: 400px;
    cursor: pointer;
    transition: .3s;
}

#card-2:hover {
    transform: scale(1.02);
}

#card-3 {
    background-image: url('imagens/android.jpeg');
    background-position: center center;
    background-size: cover;
    width: 300px;
    cursor: pointer;
    transition: .3s;
    height: 400px;
}

#card-3:hover {
    transform: scale(1.02);
}

#card-4 {
    background-image: url('#');
    background-position: center center;
    background-size: cover;
    width: 300px;
    height: 400px;
    cursor: pointer;
    transition: .3s;
}

#card-4:hover {
    background-image: url('imagens/em-breve-400x300.jpg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

#card-5 {
    background-image: url('#');
    background-position: center center;
    background-size: cover;
    width: 250px;
    height: 400px;
}

#card-6 {
    background-image: url('#');
    background-position: center center;
    background-size: cover;
    width: 250px;
    height: 400px;
}

.contatos-icone{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
}

.icone-contato {
    border-radius: 0%;
    box-shadow: none;
    width: 50px;
    height: 50px;
    margin-top: 0px;
    margin-right: 0px;
    align-items: center;
    margin-bottom: 3px;
    padding-bottom: 4px;
}

footer {
    text-align: center;
    justify-items: center;
    padding: 10px;
    font-size: .9em;
}

@media (max-width:805px)
    {
        .section-1 {
            display: block;
            margin: auto;
            align-items: center;
            text-align: center;
            text-justify: auto;
        }

        img {
            margin: auto;
            width: 250px;
            height: 230px;
            margin-bottom: 20px;
        }    

    }

@media (max-width:420px)
    {
        i#burguer {
            display: flex;
            align-items: end;
            }

        #menu {
            display: none;
            position: absolute;
            left: -24px;
            top: 76px;
            width: auto;
            }

            .itens {
                background-color: #4EFF00;
                color: #000000;
                width: 80%;
                margin: auto;
                border-radius: 5px;
                margin-bottom: 5px;
                padding: 5px;
            }


        .section-1 {
            display: block;
            margin: auto;
            align-items: center;
            text-align: center;
            text-justify: auto;
        }

        img {
            margin: auto;
            width: 250px;
            height: 230px;
            margin-bottom: 20px;
        }    

        h1 {
            font-size: 2.5em;
            
        }

        h2 {
            font-size: 1.3em;
        }

        .card {
            display: block;
            margin: 20px auto;
        }

        #cards {
            display: block;
        }

        p {
            font-size: 1em;
            letter-spacing: .3px;
            text-align: center;
        }

        #card-5 {
            display: none;
        }

        #card-6 {
            display: none;
        }

    }
